@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600&display=swap');
.no-border-button {
    border: none; /* Видаляємо рамку */
    background-color:  rgb(255, 255, 255); /* Задаємо колір фону */
    color: #000000; /* Задаємо колір тексту */
    cursor: pointer; /* Змінюємо вид курсору при наведенні */
  }
  
  .menu-toggle{
    height: 40px;
    width: 150px;
  padding-left: 350px;
    color: #fff;
    display: grid;
    place-items: center;
    padding-left:120px ;
   margin-left: 50;
  }


  .sub-menu ul li a{
  background: #1b2133;
  color: #e4ebf7;
  display: block;
  margin-right: 30px;
  line-height: 40px; 
  text-decoration: none;
  }


  .timeline-panel {
    width: 310px;
    height: 80px;
    float: left;
    border: 1px solid #e1e7ef;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    border: none;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
   }
   
.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 20px solid #e1e7ef;
    border-right: 0 solid #e1e7ef;
    border-bottom: 15px solid transparent;
    content: " ";
   }
   
    .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 20px solid #e1e7ef;
    border-right: 0 solid #e1e7ef;
    border-bottom: 14px solid transparent;
    border: none;
    content: " ";
   }
   
   .message-box {
   height: 50px;
  width: 310px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#57bf59;
    border: 1px solid #57bf59;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    border-radius:  5px 5px 5px 5px;
    margin-top: -270px;
    margin-left: 240px;
  }

  /* Стилі для трикутного значка (дзобика) */
  .triangle {
    width: 15px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #57bf59; /* Змініть колір за потребою */
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: 10px 0 0;
  }
  .skill{
    width: 160px;
    height: 160px;
    position: relative;
  }
  .outer{
    height: 160px;
    width: 160px;
padding: 20px;
box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 30px;
  }
  .inner{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset  4px 4px 6px -1px rgba(0, 0, 0, 0.2),inset  -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px  rgba(255,255,255,1),0.5px 0.5px 0px  
    rgba(0, 0, 0, 0.15),0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }
  circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 700;
    animation: anim 2s linear forwards;
   

  }
  @keyframes anim{
    100%{
      stroke-dashoffset: -100;
    }
  }
  svg{
    position: absolute;
    top: 0;
    left: 30px;
  }

 @keyframes anim2{
    100%{
      stroke-dashoffset: 160;
    }
  }
  @keyframes anim3{
    100%{
      stroke-dashoffset: 260;
    }
  }
  .pie_chart {
    width: 152px;
    height: 138px;
    padding-left: 40px;
    padding-top: 10px;
    float: center;
  }